.background-example {
    background-color: #ccc;
    background-image: linear-gradient(to right,rgba(25,0,0,0),rgba(255,0,0,1));
    background-size: 200% 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 2x solid #1fc47f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    animation: background-animation 5s infinite alternate, border-animation 3s infinite alternate;
    transition: transform 0.5s, box-shadow 0.5s;

}
@keyframes background-animation {
    from {
        background-position: left bottom;
    }
    to {
        background-position: right bottom;
    }
}
@keyframes background-animation {
    0%{
        border-color: #ccc;
    }
    50%{
        border-color: #4a2066;
    }
    100%{
        border-color: #ccc;
    }
}